In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from matplotlib import rc, font_manager
rc('font',family="NanumSquareR")
import os

In [5]:
os.chdir("C:\\Users\\chanqun\\Downloads\ops")

In [6]:
regular=pd.read_csv("Regular_Season_Batter.csv")

# 1.데이터 잘라내기

In [7]:
regular

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0,0.000000,0.000000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000000
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,1,0.349000,0.337000,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686000
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,3,0.325000,0.348000,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673000
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,5,0.257000,0.232000,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489000
5,1,강경학,2017,한화,0.214,59,84,17,18,2,...,1,0.262000,0.290000,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552000
6,1,강경학,2018,한화,0.278,77,245,42,68,11,...,7,0.392000,0.382000,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774000
7,2,강구성,2013,NC,0.000,2,2,0,0,0,...,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000
8,2,강구성,2015,NC,0.200,4,5,0,1,1,...,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000
9,2,강구성,2016,NC,0.000,2,3,0,0,0,...,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000
10,2,강구성,2017,NC,0.000,1,1,0,0,0,...,0,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000
11,2,강구성,2018,NC,0.200,4,5,0,1,1,...,0,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000
12,138,백승룡,2005,한화,0.127,39,63,9,8,2,...,1,0.158730,0.256757,3,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.415487
13,138,백승룡,2006,한화,0.139,37,36,6,5,2,...,0,0.194444,0.326087,4,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.520531
14,138,백승룡,2007,한화,0.000,8,4,3,0,0,...,1,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000
15,138,백승룡,2008,한화,0.000,2,1,0,0,0,...,0,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000
16,138,백승룡,2011,한화,0.176,38,51,7,9,2,...,1,0.215686,0.300000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.515686
17,138,백승룡,2012,한화,0.231,33,52,3,12,1,...,0,0.250000,0.344262,1,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.594262
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,...,0,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN
19,297,진갑용,1997,OB,0.242,95,281,21,68,7,...,7,0.309609,0.306189,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.615797
20,297,진갑용,1998,OB,0.269,88,253,12,68,14,...,10,0.355731,0.307116,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.662847
21,297,진갑용,1999,삼성,0.212,68,156,13,33,3,...,7,0.307692,0.267857,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.575549
22,297,진갑용,2000,삼성,0.273,114,297,30,81,14,...,7,0.400673,0.337423,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.738097
23,297,진갑용,2001,삼성,0.306,89,314,54,96,25,...,4,0.464968,0.366279,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.831247
24,297,진갑용,2002,삼성,0.281,133,462,58,130,29,...,13,0.465368,0.350294,11,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.815662
25,297,진갑용,2003,삼성,0.290,126,435,64,126,20,...,13,0.489655,0.357588,13,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.847244
26,297,진갑용,2004,삼성,0.278,129,439,60,122,20,...,16,0.487472,0.346392,5,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.833863
27,297,진갑용,2005,삼성,0.288,110,347,34,100,17,...,8,0.389049,0.368286,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.757335
28,297,진갑용,2006,삼성,0.288,110,358,28,103,22,...,18,0.399441,0.349490,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.748931
29,297,진갑용,2007,삼성,0.246,122,362,28,89,12,...,9,0.320442,0.346890,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.667332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,340,황선일,2006,LG,0.000,1,2,0,0,0,...,0,0.000000,0.000000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.000000
2425,340,황선일,2007,LG,0.181,44,72,8,13,3,...,1,0.250000,0.280488,2,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.530488
2426,340,황선일,2010,LG,0.200,4,5,0,1,1,...,0,0.400000,0.200000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.600000
2427,340,황선일,2011,LG,0.222,7,9,0,2,0,...,0,0.222222,0.300000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.522222
2428,340,황선일,2012,LG,0.125,3,8,0,1,0,...,0,0.125000,0.125000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.250000
2429,340,황선일,2015,한화,0.174,13,23,1,4,2,...,1,0.260870,0.240000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.500870
2430,341,황윤호,2015,NC,0.000,10,5,2,0,0,...,0,0.000000,0.167000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.167000
2431,341,황윤호,2016,NC,0.083,33,12,7,1,0,...,0,0.083000,0.083000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.166000
2432,341,황윤호,2017,NC,0.133,36,15,8,2,0,...,0,0.267000,0.235000,1,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.502000
2433,341,황윤호,2018,KIA,0.158,82,57,11,9,1,...,2,0.175000,0.200000,3,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.375000
2434,342,황재균,2007,현대,0.300,63,160,19,48,6,...,1,0.375000,0.323000,5,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.698000
2435,342,황재균,2008,우리,0.239,117,306,27,73,10,...,8,0.288000,0.279000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.567000
2436,342,황재균,2009,히어로즈,0.284,133,536,86,152,27,...,11,0.453000,0.349000,12,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.802000
2437,342,황재균,2010,롯데,0.225,94,306,41,69,14,...,10,0.350000,0.303000,9,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.653000
2438,342,황재균,2011,롯데,0.289,117,398,62,115,18,...,9,0.445000,0.360000,22,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.805000
2439,342,황재균,2012,롯데,0.272,133,448,42,122,19,...,10,0.346000,0.335000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.681000
2440,342,황재균,2013,롯데,0.274,128,489,70,134,29,...,14,0.389000,0.350000,18,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.739000
2441,342,황재균,2014,롯데,0.321,128,486,66,156,33,...,8,0.475000,0.388000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.863000
2442,342,황재균,2015,롯데,0.290,144,534,95,155,41,...,14,0.521000,0.350000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.871000
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,...,10,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000
2444,342,황재균,2018,KT,0.296,142,530,76,157,41,...,5,0.526000,0.358000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.884000
2445,343,황정립,2012,KIA,0.149,18,47,4,7,0,...,0,0.212766,0.298246,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.511012
2446,343,황정립,2013,KIA,0.244,21,45,8,11,2,...,2,0.355556,0.403509,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.759064
2447,344,황진수,2012,롯데,0.111,28,18,2,2,1,...,1,0.167000,0.158000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.325000
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,...,0,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,2,0.402000,0.359000,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761000
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0,0.333000,0.231000,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564000

1.opsrk 0.9 넘는 row
2.batter_name이 박석민인 row
3.박석민의 역대 ops
4.이름이 박석민이면서 year이 2009인 row를 뽑아내자

In [10]:
regular.loc[regular['OPS']>0.9]

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,3,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000
53,4,강민호,2015,롯데,0.311,123,380,63,118,18,...,14,0.639000,0.421000,8,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,1.060000
54,4,강민호,2016,롯데,0.323,116,381,65,123,26,...,7,0.549000,0.433000,4,185cm/100kg,1985년 08월 18일,포수(우투우타),제주신광초-포철중-포철공고-(국제디지털대)-롯데,9000만원,0.982000
78,7,강봉규,2009,삼성,0.310,126,449,89,139,24,...,15,0.505568,0.406130,4,NaN,1978년 01월 12일,NaN,부천초-개성중-경남고-고려대-두산-삼성,NaN,0.911698
95,10,강정호,2012,넥센,0.314,124,436,77,137,32,...,16,0.559633,0.417154,12,NaN,1987년 04월 05일,NaN,화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센,NaN,0.976787
97,10,강정호,2014,넥센,0.356,117,418,103,149,36,...,8,0.739234,0.460922,9,NaN,1987년 04월 05일,NaN,화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센,NaN,1.200156
98,11,강진성,2013,NC,0.500,3,2,1,1,1,...,0,1.000000,0.667000,0,180cm/81kg,1993년 10월 19일,내야수(우투우타),가동초-잠신중-경기고-NC-경찰,7000만원,1.667000
99,11,강진성,2017,NC,0.296,28,27,5,8,3,...,1,0.519000,0.406000,0,180cm/81kg,1993년 10월 19일,내야수(우투우타),가동초-잠신중-경기고-NC-경찰,7000만원,0.925000
130,17,고영민,2013,두산,0.286,10,14,3,4,1,...,1,0.571429,0.411765,0,NaN,1984년 02월 08일,NaN,도신초-영남중-성남고-두산,NaN,0.983193
135,230,이종환,2012,KIA,0.385,6,13,2,5,2,...,0,0.769231,0.384615,0,NaN,1986년 05월 08일,NaN,태안초-태안중-북일고-단국대-KIA-상무-KIA,NaN,1.153846
147,19,구자욱,2015,삼성,0.349,116,410,97,143,33,...,3,0.534000,0.417000,13,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.951000
148,19,구자욱,2016,삼성,0.343,108,428,105,147,19,...,4,0.547000,0.420000,7,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.967000
149,19,구자욱,2017,삼성,0.310,144,564,108,175,39,...,1,0.527000,0.383000,5,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.910000
150,19,구자욱,2018,삼성,0.333,116,478,100,159,26,...,4,0.533000,0.392000,4,189cm/75kg,1993년 02월 12일,외야수(우투좌타),본리초-경복중-대구고-삼성-상무,13000만원,0.925000
156,122,박재홍,1996,현대,0.295,126,481,75,142,29,...,7,0.559252,0.373383,2,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.932634
157,122,박재홍,1997,현대,0.326,96,331,77,108,16,...,5,0.619335,0.443890,2,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,1.063226
158,122,박재홍,1998,현대,0.266,119,428,86,114,25,...,13,0.544393,0.375746,1,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.920138
159,122,박재홍,1999,현대,0.295,129,482,83,142,27,...,10,0.504149,0.400353,2,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.904502
160,122,박재홍,2000,현대,0.309,132,489,101,151,31,...,15,0.588957,0.396429,2,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.985386
163,122,박재홍,2003,KIA,0.301,108,392,71,118,15,...,11,0.510204,0.395143,2,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.905348
168,122,박재홍,2008,SK,0.318,112,396,66,126,26,...,14,0.537879,0.423077,5,NaN,1973년 09월 07일,NaN,서림초-무등중-광주제일고-연세대-현대-KIA,NaN,0.960956
192,22,권정웅,2016,삼성,1.000,3,1,1,1,0,...,0,1.000000,1.000000,0,180cm/88kg,1992년 11월 15일,포수(우투우타),서울이수초-영동중-덕수고-한양대,6000만원,2.000000
201,24,김강민,2003,SK,0.500,2,4,0,2,0,...,0,0.500000,0.500000,1,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,1.000000
216,24,김강민,2018,SK,0.298,80,235,40,70,14,...,1,0.536000,0.370000,2,182cm/85kg,1982년 09월 13일,외야수(우투우타),본리초-대구중-경북고,11000만원,0.906000
226,26,김경언,2009,KIA,0.500,2,2,1,1,0,...,0,0.500000,0.500000,0,NaN,1982년 12월 07일,NaN,부산중앙초-개성중-경남상고-KIA,NaN,1.000000
232,26,김경언,2015,한화,0.337,107,377,58,127,21,...,9,0.525199,0.417249,2,NaN,1982년 12월 07일,NaN,부산중앙초-개성중-경남상고-KIA,NaN,0.942448
235,27,김광연,2013,KIA,0.625,4,8,2,5,0,...,1,0.625000,0.625000,0,NaN,1991년 11월 13일,NaN,군산중앙초-전라중-전주고-송원대,NaN,1.250000
267,31,김동욱,2013,삼성,0.500,4,2,0,1,0,...,0,0.500000,0.500000,0,183cm/89kg,1988년 06월 24일,내야수(우투우타),신광초-경복중-대구고-삼성,13000만원,1.000000
273,32,김동주,1999,두산,0.321,114,399,62,128,25,...,9,0.563910,0.397778,7,NaN,1976년 02월 03일,NaN,중대초-배명중-배명고-고려대-OB-두산,NaN,0.961688
274,32,김동주,2000,두산,0.339,127,469,78,159,29,...,17,0.603412,0.418386,17,NaN,1976년 02월 03일,NaN,중대초-배명중-배명고-고려대-OB-두산,NaN,1.021798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,313,최정,2016,SK,0.288,141,500,106,144,24,...,6,0.580000,0.403000,14,180cm/90kg,1987년 02월 28일,내야수(우투우타),대일초-평촌중-유신고,30000만원,0.983000
2266,313,최정,2017,SK,0.316,130,430,89,136,18,...,8,0.684000,0.427000,6,180cm/90kg,1987년 02월 28일,내야수(우투우타),대일초-평촌중-유신고,30000만원,1.111000
2267,313,최정,2018,SK,0.244,115,406,95,99,16,...,10,0.547000,0.368000,11,180cm/90kg,1987년 02월 28일,내야수(우투우타),대일초-평촌중-유신고,30000만원,0.915000
2283,315,최주환,2018,두산,0.333,138,519,87,173,39,...,5,0.582000,0.397000,3,178cm/73kg,1988년 02월 28일,내야수(우투좌타),학강초-광주동성중-광주동성고-두산-상무,6000만원,0.979000
2291,316,최준석,2010,두산,0.321,127,424,63,136,26,...,17,0.542000,0.397000,2,187cm/130kg,1983년 02월 15일,내야수(우투우타),칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데,3000만원,0.939000
2295,316,최준석,2014,롯데,0.286,121,371,54,106,13,...,14,0.507000,0.411000,0,187cm/130kg,1983년 02월 15일,내야수(우투우타),칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데,3000만원,0.918000
2296,316,최준석,2015,롯데,0.306,144,507,78,155,18,...,17,0.529000,0.428000,0,187cm/130kg,1983년 02월 15일,내야수(우투우타),칠성초-포철중-포철공고-(영남사이버대)-롯데-두산-롯데,3000만원,0.957000
2309,317,최진행,2015,한화,0.291,109,333,55,97,17,...,9,0.505000,0.410000,1,188cm/100kg,1985년 08월 17일,외야수(우투우타),서울동원초-청량중-덕수정보고-(우송대)-한화-경찰,10000만원,0.915000
2311,317,최진행,2017,한화,0.306,89,258,29,79,21,...,3,0.539000,0.375000,1,188cm/100kg,1985년 08월 17일,외야수(우투우타),서울동원초-청량중-덕수정보고-(우송대)-한화-경찰,10000만원,0.914000
2315,319,최형우,2002,삼성,0.400,4,5,0,2,2,...,0,0.800000,0.400000,0,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.200000
2319,319,최형우,2010,삼성,0.279,121,420,71,117,29,...,13,0.524000,0.389000,2,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,0.913000
2320,319,최형우,2011,삼성,0.340,133,480,80,163,37,...,8,0.617000,0.427000,1,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.044000
2323,319,최형우,2014,삼성,0.356,113,430,92,153,33,...,11,0.649000,0.426000,1,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.075000
2324,319,최형우,2015,삼성,0.318,144,547,94,174,33,...,13,0.563000,0.402000,2,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,0.965000
2325,319,최형우,2016,삼성,0.376,138,519,99,195,46,...,12,0.651000,0.464000,3,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.115000
2326,319,최형우,2017,KIA,0.342,142,514,98,176,36,...,15,0.576000,0.450000,4,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,1.026000
2327,319,최형우,2018,KIA,0.339,143,528,92,179,34,...,17,0.549000,0.414000,4,180cm/106kg,1983년 12월 16일,외야수(우투좌타),진북초-전주동중-전주고-삼성-경찰-삼성,5000만원,0.963000
2334,321,칸투,2014,두산,0.309,111,376,56,116,25,...,11,0.523936,0.376499,8,NaN,1982년 01월 30일,NaN,미국 레이노사고-두산,NaN,0.900435
2335,322,테임즈,2014,NC,0.343,125,443,95,152,30,...,6,0.688488,0.427165,13,NaN,1986년 11월 10일,NaN,미국 페퍼다인대,NaN,1.115653
2336,322,테임즈,2015,NC,0.381,142,472,130,180,42,...,7,0.790254,0.503401,4,NaN,1986년 11월 10일,NaN,미국 페퍼다인대,NaN,1.293656
2337,322,테임즈,2016,NC,0.321,123,436,118,140,30,...,2,0.678899,0.432950,4,NaN,1986년 11월 10일,NaN,미국 페퍼다인대,NaN,1.111849
2338,323,피에,2014,한화,0.326,119,445,61,145,33,...,11,0.523596,0.382716,6,NaN,1985년 02월 08일,NaN,도미니카 산토도밍고고-한화,NaN,0.906312
2355,326,한동민,2017,SK,0.294,103,350,64,103,21,...,8,0.614000,0.396000,5,190cm/95kg,1989년 08월 09일,외야수(우투좌타),중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,1.010000
2356,326,한동민,2018,SK,0.284,136,486,97,138,31,...,10,0.601000,0.367000,1,190cm/95kg,1989년 08월 09일,외야수(우투좌타),중앙초(해운대리틀)-대천중-경남고-경성대-SK-상무,3000만원,0.968000
2391,333,현재윤,2014,LG,0.533,14,15,3,8,2,...,0,0.666667,0.562500,2,NaN,1979년 07월 08일,NaN,수유초-신일중-신일고-성균관대-삼성-LG,NaN,1.229167
2392,334,호잉,2018,한화,0.306,142,529,85,162,47,...,5,0.573000,0.369000,4,190cm/92kg,1989년 05월 18일,외야수(우투좌타),미국 Fort Loramie(고)-미국 Toledo(대),300000달러,0.942000
2403,336,홍성흔,2009,롯데,0.371,119,426,71,158,33,...,15,0.532864,0.441667,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,0.974531
2404,336,홍성흔,2010,롯데,0.350,111,431,88,151,28,...,18,0.600928,0.430894,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,1.031822
2408,336,홍성흔,2014,두산,0.315,124,447,63,141,19,...,13,0.496644,0.405825,0,NaN,1977년 02월 28일,NaN,공릉초(강북리틀)-중앙중-중앙고-경희대-두산-롯데,NaN,0.902470
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,...,10,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000

In [11]:
regular.loc[regular['batter_name']=='박석민']

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,GDP,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS
797,115,박석민,2004,삼성,0.103,23,29,2,3,1,...,3,0.241,0.188,1,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.429
798,115,박석민,2005,삼성,0.198,52,81,7,16,3,...,3,0.259,0.283,3,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.542
799,115,박석민,2008,삼성,0.279,126,416,65,116,27,...,15,0.450,0.385,18,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.835
800,115,박석민,2009,삼성,0.285,97,295,63,84,17,...,5,0.586,0.416,6,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,1.002
801,115,박석민,2010,삼성,0.303,112,356,58,108,18,...,14,0.480,0.440,7,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.920
802,115,박석민,2011,삼성,0.278,128,457,74,127,24,...,13,0.442,0.374,13,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.816
803,115,박석민,2012,삼성,0.312,127,443,79,138,19,...,8,0.524,0.433,12,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.957
804,115,박석민,2013,삼성,0.318,117,396,61,126,24,...,13,0.515,0.425,10,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.940
805,115,박석민,2014,삼성,0.315,110,356,77,112,21,...,12,0.601,0.419,12,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,1.020
806,115,박석민,2015,삼성,0.321,135,448,90,144,25,...,13,0.551,0.441,14,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.992
807,115,박석민,2016,NC,0.307,126,427,77,131,20,...,18,0.578,0.404,15,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.982
808,115,박석민,2017,NC,0.245,101,319,43,78,15,...,17,0.423,0.369,9,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.792
809,115,박석민,2018,NC,0.255,103,318,40,81,14,...,11,0.456,0.360,4,178cm/88kg,1985년 06월 22일,내야수(우투우타),율하초-경복중-대구고-삼성-상무-삼성,18000만원,0.816

In [12]:
regular.loc[regular['batter_name']=='박석민']['OPS']

797    0.429
798    0.542
799    0.835
800    1.002
801    0.920
802    0.816
803    0.957
804    0.940
805    1.020
806    0.992
807    0.982
808    0.792
809    0.816
Name: OPS, dtype: float64

# 2.for문