In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from matplotlib import rc, font_manager
rc('font',family="NanumSquareR")
import os

In [24]:
os.chdir("C:\\Users\\chanqun\\Downloads\ops")

In [25]:
regular=pd.read_csv("Regular_Season_Batter.csv")

In [26]:
regular.iloc[4]

batter_id                          1
batter_name                      강경학
year                            2016
team                              한화
avg                            0.158
G                                 46
AB                               101
R                                 16
H                                 16
2B                                 3
3B                                 2
HR                                 1
TB                                26
RBI                                7
SB                                 0
CS                                 0
BB                                 8
HBP                                2
SO                                30
GDP                                5
SLG                            0.257
OBP                            0.232
E                                  7
height/weight             180cm/72kg
year_born              1992년 08월 11일
position                   내야수(우투좌타)
career             광주대성초-광주동성중-광주동성고
starting_salary              10000만원
OPS                            0.489
Name: 4, dtype: object

In [35]:
lag_1_OPS=[]
for i in range(len(regular)):
    if len(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['OPS']) == 0 :
        lag_1_OPS.append(np.nan)
    else:
        lag_1_OPS.append(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)]['OPS'].iloc[0])

In [38]:
regular['lag_1_OPS']=lag_1_OPS

In [39]:
regular

,batter_id,batter_name,year,team,avg,G,AB,R,H,2B,...,SLG,OBP,E,height/weight,year_born,position,career,starting_salary,OPS,lag_1_OPS
0,0,가르시아,2018,LG,0.339,50,183,27,62,9,...,0.519000,0.383000,9,177cm/93kg,1985년 04월 12일,내야수(우투우타),쿠바 Ciego de Avila Maximo Gomez Baez(대),NaN,0.902000,NaN
1,1,강경학,2011,한화,0.000,2,1,0,0,0,...,0.000000,0.000000,1,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.000000,NaN
2,1,강경학,2014,한화,0.221,41,86,11,19,2,...,0.349000,0.337000,6,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.686000,NaN
3,1,강경학,2015,한화,0.257,120,311,50,80,7,...,0.325000,0.348000,15,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.673000,0.686000
4,1,강경학,2016,한화,0.158,46,101,16,16,3,...,0.257000,0.232000,7,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.489000,0.673000
5,1,강경학,2017,한화,0.214,59,84,17,18,2,...,0.262000,0.290000,4,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.552000,0.489000
6,1,강경학,2018,한화,0.278,77,245,42,68,11,...,0.392000,0.382000,2,180cm/72kg,1992년 08월 11일,내야수(우투좌타),광주대성초-광주동성중-광주동성고,10000만원,0.774000,0.552000
7,2,강구성,2013,NC,0.000,2,2,0,0,0,...,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,NaN
8,2,강구성,2015,NC,0.200,4,5,0,1,1,...,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,NaN
9,2,강구성,2016,NC,0.000,2,3,0,0,0,...,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.600000
10,2,강구성,2017,NC,0.000,1,1,0,0,0,...,0.000000,0.000000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.000000,0.000000
11,2,강구성,2018,NC,0.200,4,5,0,1,1,...,0.400000,0.200000,0,180cm/82kg,1993년 06월 09일,외야수(우투좌타),관산초-부천중-야탑고-NC-상무,9000만원,0.600000,0.000000
12,138,백승룡,2005,한화,0.127,39,63,9,8,2,...,0.158730,0.256757,3,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.415487,NaN
13,138,백승룡,2006,한화,0.139,37,36,6,5,2,...,0.194444,0.326087,4,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.520531,0.415487
14,138,백승룡,2007,한화,0.000,8,4,3,0,0,...,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.520531
15,138,백승룡,2008,한화,0.000,2,1,0,0,0,...,0.000000,0.000000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.000000,0.000000
16,138,백승룡,2011,한화,0.176,38,51,7,9,2,...,0.215686,0.300000,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.515686,NaN
17,138,백승룡,2012,한화,0.231,33,52,3,12,1,...,0.250000,0.344262,1,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,0.594262,0.515686
18,138,백승룡,2013,한화,NaN,2,0,0,0,0,...,NaN,NaN,0,NaN,1982년 08월 16일,NaN,사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센,NaN,NaN,0.594262
19,297,진갑용,1997,OB,0.242,95,281,21,68,7,...,0.309609,0.306189,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.615797,NaN
20,297,진갑용,1998,OB,0.269,88,253,12,68,14,...,0.355731,0.307116,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.662847,0.615797
21,297,진갑용,1999,삼성,0.212,68,156,13,33,3,...,0.307692,0.267857,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.575549,0.662847
22,297,진갑용,2000,삼성,0.273,114,297,30,81,14,...,0.400673,0.337423,7,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.738097,0.575549
23,297,진갑용,2001,삼성,0.306,89,314,54,96,25,...,0.464968,0.366279,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.831247,0.738097
24,297,진갑용,2002,삼성,0.281,133,462,58,130,29,...,0.465368,0.350294,11,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.815662,0.831247
25,297,진갑용,2003,삼성,0.290,126,435,64,126,20,...,0.489655,0.357588,13,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.847244,0.815662
26,297,진갑용,2004,삼성,0.278,129,439,60,122,20,...,0.487472,0.346392,5,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.833863,0.847244
27,297,진갑용,2005,삼성,0.288,110,347,34,100,17,...,0.389049,0.368286,6,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.757335,0.833863
28,297,진갑용,2006,삼성,0.288,110,358,28,103,22,...,0.399441,0.349490,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.748931,0.757335
29,297,진갑용,2007,삼성,0.246,122,362,28,89,12,...,0.320442,0.346890,4,NaN,1974년 05월 08일,NaN,하단초-초량중-부산고-고려대-OB-두산-삼성,NaN,0.667332,0.748931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,340,황선일,2006,LG,0.000,1,2,0,0,0,...,0.000000,0.000000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.000000,NaN
2425,340,황선일,2007,LG,0.181,44,72,8,13,3,...,0.250000,0.280488,2,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.530488,0.000000
2426,340,황선일,2010,LG,0.200,4,5,0,1,1,...,0.400000,0.200000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.600000,NaN
2427,340,황선일,2011,LG,0.222,7,9,0,2,0,...,0.222222,0.300000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.522222,0.600000
2428,340,황선일,2012,LG,0.125,3,8,0,1,0,...,0.125000,0.125000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.250000,0.522222
2429,340,황선일,2015,한화,0.174,13,23,1,4,2,...,0.260870,0.240000,0,NaN,1987년 02월 17일,NaN,군산중앙초-군산중-군산상고-LG-상무-LG,NaN,0.500870,NaN
2430,341,황윤호,2015,NC,0.000,10,5,2,0,0,...,0.000000,0.167000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.167000,NaN
2431,341,황윤호,2016,NC,0.083,33,12,7,1,0,...,0.083000,0.083000,0,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.166000,0.167000
2432,341,황윤호,2017,NC,0.133,36,15,8,2,0,...,0.267000,0.235000,1,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.502000,0.166000
2433,341,황윤호,2018,KIA,0.158,82,57,11,9,1,...,0.175000,0.200000,3,177cm/78kg,1993년 09월 22일,내야수(우투우타),수주초-신월중-장충고-NC-경찰-NC,3000만원,0.375000,0.502000
2434,342,황재균,2007,현대,0.300,63,160,19,48,6,...,0.375000,0.323000,5,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.698000,NaN
2435,342,황재균,2008,우리,0.239,117,306,27,73,10,...,0.288000,0.279000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.567000,0.698000
2436,342,황재균,2009,히어로즈,0.284,133,536,86,152,27,...,0.453000,0.349000,12,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.802000,0.567000
2437,342,황재균,2010,롯데,0.225,94,306,41,69,14,...,0.350000,0.303000,9,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.653000,0.802000
2438,342,황재균,2011,롯데,0.289,117,398,62,115,18,...,0.445000,0.360000,22,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.805000,0.653000
2439,342,황재균,2012,롯데,0.272,133,448,42,122,19,...,0.346000,0.335000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.681000,0.805000
2440,342,황재균,2013,롯데,0.274,128,489,70,134,29,...,0.389000,0.350000,18,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.739000,0.681000
2441,342,황재균,2014,롯데,0.321,128,486,66,156,33,...,0.475000,0.388000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.863000,0.739000
2442,342,황재균,2015,롯데,0.290,144,534,95,155,41,...,0.521000,0.350000,16,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.871000,0.863000
2443,342,황재균,2016,롯데,0.335,127,498,97,167,26,...,0.570000,0.394000,15,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.964000,0.871000
2444,342,황재균,2018,KT,0.296,142,530,76,157,41,...,0.526000,0.358000,17,183cm/96kg,1987년 07월 28일,내야수(우투우타),사당초-이수중-경기고-현대-우리-히어로즈-넥센-롯데-샌프란시스코,6000만원,0.884000,NaN
2445,343,황정립,2012,KIA,0.149,18,47,4,7,0,...,0.212766,0.298246,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.511012,NaN
2446,343,황정립,2013,KIA,0.244,21,45,8,11,2,...,0.355556,0.403509,1,NaN,1989년 12월 14일,NaN,학동초-경원중-배명고-고려대,NaN,0.759064,0.511012
2447,344,황진수,2012,롯데,0.111,28,18,2,2,1,...,0.167000,0.158000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.325000,NaN
2448,344,황진수,2013,롯데,NaN,2,0,0,0,0,...,NaN,NaN,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,NaN,0.325000
2449,344,황진수,2014,롯데,0.000,5,5,0,0,0,...,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,NaN
2450,344,황진수,2015,롯데,0.000,2,2,0,0,0,...,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000000
2451,344,황진수,2016,롯데,0.000,11,10,2,0,0,...,0.000000,0.000000,0,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.000000,0.000000
2452,344,황진수,2017,롯데,0.291,60,117,18,34,6,...,0.402000,0.359000,4,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.761000,0.000000
2453,344,황진수,2018,롯데,0.167,18,24,6,4,1,...,0.333000,0.231000,3,181cm/82kg,1989년 02월 15일,내야수(우투양타),석천초-대헌중-공주고,4000만원,0.564000,0.761000

In [40]:
regular.columns

Index(['batter_id', 'batter_name', 'year', 'team', 'avg', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP',
       'SLG', 'OBP', 'E', 'height/weight', 'year_born', 'position', 'career',
       'starting_salary', 'OPS', 'lag_1_OPS'],
      dtype='object')

In [43]:
for j in [ 'avg', 'G', 'AB', 'R', 'H','2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP','SLG', 'OBP', 'E']:
    lag_1_avg=[]
    for i in range(len(regular)):
        if len(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)][j]) == 0 :
            lag_1_avg.append(np.nan)
        else:
            lag_1_avg.append(regular.loc[(regular['batter_name']==regular['batter_name'].iloc[i])&(regular['year']==regular['year'].iloc[i]-1)][j].iloc[0])
    regular['lag_1_'+j]=lag_1_avg
    print(j)

avg
G
AB
R
H
2B
3B
HR
TB
RBI
SB
CS
BB
HBP
SO
GDP
SLG
OBP
E

In [44]:
regular.columns

Index(['batter_id', 'batter_name', 'year', 'team', 'avg', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'TB', 'RBI', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP',
       'SLG', 'OBP', 'E', 'height/weight', 'year_born', 'position', 'career',
       'starting_salary', 'OPS', 'lag_1_OPS', 'lag_1_avg', 'lag_1_G',
       'lag_1_AB', 'lag_1_R', 'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR',
       'lag_1_TB', 'lag_1_RBI', 'lag_1_SB', 'lag_1_CS', 'lag_1_BB',
       'lag_1_HBP', 'lag_1_SO', 'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP',
       'lag_1_E'],
      dtype='object')

In [69]:
regular=regular.loc[-regular["OPS"].isnull(),]

In [70]:
from sklearn.ensemble import RandomForestRegressor

In [71]:
y=regular['OPS']
X=regular[['lag_1_OPS', 'lag_1_avg', 'lag_1_G',
       'lag_1_AB', 'lag_1_R', 'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR',
       'lag_1_TB', 'lag_1_RBI', 'lag_1_SB', 'lag_1_CS', 'lag_1_BB',
       'lag_1_HBP', 'lag_1_SO', 'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP',
       'lag_1_E']]

In [72]:
rf=RandomForestRegressor(n_estimators=500)

In [73]:
rf.fit(X.fillna(-1),y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [74]:
train=regular.loc[regular['year']<=2017,]
test=regular.loc[regular['year']<=2018,]
y_train=train['OPS']
X_train=train[['lag_1_OPS', 'lag_1_avg', 'lag_1_G',
       'lag_1_AB', 'lag_1_R', 'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR',
       'lag_1_TB', 'lag_1_RBI', 'lag_1_SB', 'lag_1_CS', 'lag_1_BB',
       'lag_1_HBP', 'lag_1_SO', 'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP',
       'lag_1_E']]
y_test=test['OPS']
X_test=test[['lag_1_OPS', 'lag_1_avg', 'lag_1_G',
       'lag_1_AB', 'lag_1_R', 'lag_1_H', 'lag_1_2B', 'lag_1_3B', 'lag_1_HR',
       'lag_1_TB', 'lag_1_RBI', 'lag_1_SB', 'lag_1_CS', 'lag_1_BB',
       'lag_1_HBP', 'lag_1_SO', 'lag_1_GDP', 'lag_1_SLG', 'lag_1_OBP',
       'lag_1_E']]

In [83]:
rf=RandomForestRegressor(n_estimators=500)
rf.fit(X_train.fillna(-1),y_train,sample_weight=train['AB'])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [84]:
from sklearn.metrics import mean_squared_error
mean_squared_error(real,pred,sample_weight=ab)**0.5

0.10301815562356802

In [76]:
pred=rf.predict(X_test.fillna(-1))

In [78]:
real=test['OPS']
ab=test['AB']

In [82]:
from sklearn.metrics import mean_squared_error
mean_squared_error(real,pred,sample_weight=ab)**0.5

0.10301815562356802